@model IEnumerable<ToDo.Models.Entities.TaskList>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
@{
    ViewBag.Title = "Your Tasks";
    Layout = "_Layout";
}

@foreach (var list in Model)
    {
        <a asp-action="Create" asp-route-listId="@Model.First().Id"><img class="cst-btn" src="/Images/add.svg" alt="ADD"></a>
        <h2 class="align-middle">@Html.DisplayFor(name => list.Name)</h2>
    }
    <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Progress</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Deadline</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            @foreach (var list in Model)
            {
                @foreach (var task in list.Tasks)
                {
                    <tr>
                        <td>@(list.Tasks.IndexOf(task) + 1)</td>
                        <td>@Html.CheckBoxFor(model => task.IsDone, new { onclick=$"customMethod({task.Id})", id = $"cb{task.Id}"})</td>
                        <script>
                        function customMethod(cbId){
                            let val = $("#cb" + cbId).is(':checked');
                            console.log(@list.Id);
                             $.ajax({
                                     url: "@Url.Action("CheckBox", "Task")",
                                     type: "POST",
                                     async: true,
                                     dataType: "json",
                             
                                     data: {
                                         id: cbId,
                                         value: val,
                                     }
                                 });
                             }
                        </script>
                        <td>@Html.DisplayFor(modelItem => task.Name)</td>
                        <td>@Html.DisplayFor(modelItem => task.Description)</td>
                        <td>@Html.DisplayFor(modelItem => task.Deadline)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@task.Id" asp-route-listId="@task.TaskList.Id"><img class="cst-btn" src="/Images/edit.svg" alt="EDIT"></a>
                            <a asp-action="Details" asp-route-id="@task.Id" asp-route-listId="@task.TaskList.Id"><img class="cst-btn" src="/Images/details.svg" alt="DETAILS"></a>
                            <a asp-action="Delete" asp-route-id="@task.Id" asp-route-listId="@task.TaskList.Id"><img class="cst-btn" src="/Images/delete.svg" alt="DELETE"></a>
                        </td>
                    </tr>
                }
            }
        </table>