@model IEnumerable<ToDo.Models.Entities.TaskList>

@{
    ViewBag.Title = "Your Tasks";
    Layout = "_Layout";
}
<h2>
    @foreach (var list in Model)
    {
        @Html.DisplayFor(name => list.Name)
    }
</h2>
@if (Model == null)
{
    <h2>MODEL IS NULL</h2>
}
else
{
    <a asp-action="Create">Add new task</a>
    <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Task Completed</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Deadline</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            @foreach (var list in Model)
            {
                @foreach (var task in list.Tasks)
                {
                    <tr>
                        <td>@(list.Tasks.IndexOf(task) + 1)</td>
                        <td>@Html.DisplayFor(modelItem => task.IsDone)</td>
                        <td>@Html.DisplayFor(modelItem => task.Name)</td>
                        <td>@Html.DisplayFor(modelItem => task.Description)</td>
                        <td>@Html.DisplayFor(modelItem => task.Deadline)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@task.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@task.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@task.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </table>
}