@{
    ViewBag.Title = "Your Tasks";
    Layout = "_Layout";
}

<h2>title</h2>

@if (Model.Count == 0)
{
    <h2>MODEL IS NULL</h2>
}
<table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Task Is Complete</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Deadline</th>
        </tr>
        </thead>
        @foreach(var task in Model)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.IsDone</td>
                <td>@task.Name</td>
                <td>@task.Description</td>
                <td>@task.Deadline</td>
            </tr>
        }
    </table>
