@model IEnumerable<ToDo.Models.Entities.TaskList>

@{
    ViewBag.Title = "Your Task Lists";
    Layout = "_Layout";
}

<div>
    <a asp-action="Create"><img class="cst-btn" src="Images/add.svg" alt="ADD"></a>
    <br>
    @foreach (var list in Model)
    {
        <h2>@Html.DisplayFor(model => list.Name)</h2>
        <table class="table table-borderless">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Description</th>
                    <th scope="col">Deadline</th>
                    <th scope="col">Progress</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var task in list.Tasks)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => task.Name)</td>
                    <td>@Html.DisplayFor(modelItem => task.Description)</td>
                    <td>@Html.DisplayFor(modelItem => task.Deadline, "{0:dd-MMM-yyyy}")</td>
                    <td>@Html.CheckBoxFor(model => task.IsDone, new { onclick=$"customMethod({task.Id})", id = $"cb{task.Id}"})</td>
                    <script>
                        function customMethod(cbId){
                            let val = $("#cb" + cbId).is(':checked');
                            console.log(val);
                             $.ajax({
                                     url: "@Url.Action("CheckBox", "Task")",
                                     type: "POST",
                                     async: true,
                                     dataType: "json",
                             
                                     data: {
                                         id: cbId,
                                         value: val,
                                     }
                                 });
                             }
                        </script>
                </tr>
            }
            </tbody>
            <a asp-action="Edit" asp-route-id="@list.Id"><img class="cst-btn" src="Images/edit.svg" alt="EDIT"></a>
            <a asp-action="Delete" asp-route-id="@list.Id"><img class="cst-btn" src="Images/delete.svg" alt="DELETE"></a>
        </table>
    }
</div>
